<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- TODO: Before actual distribution, include these references via webpack rather than reference. -->

  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.0.0-rc.2/dist/bootstrap-vue.min.css">
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.css">
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/themes/bootstrap-v4.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="tgc6/css/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">

  <!-- TODO: Set the favicon. -->
  <!-- TODO: Upddate this based on the displayed product. Probably requires looking into Vue Router. -->
  <title>BGC Proto 1</title>

</head>
<body>

  <div id="app">
    <b-container>
      <b-row>
        <b-col>
          <div id="product">
            <h1>{{ product.name }}</h1>
            <b-container>
              <b-row>
                <b-col>
                  <b-container>
                    <b-img :src="product.image" :alt="product.alt" fluid />
                  </b-container>
                  <p>{{ product.description }}</p>
                  <!-- TODO: What is with the errors and violations this video is causing? Happens in an HTML5 iframe too.
                  <b-embed type="iframe"
                           aspect="16by9"
                           :src="product.video"
                           allowfullscreen
                  ></b-embed>
                  -->
                </b-col>
                <b-col>
                  <b-button-group>
                    <!-- TODO: Any product like this that can be purchased in bulk
                    should probably have controls to select the quantity to
                    be ordered, which could in turn affect the subtotal price. -->
                    <b-button variant="primary" @click="buyClick">
                      <span class="fas fa-cart-plus"></span>
                      Buy for {{ product.unitPrice }}
                    </b-button>
                    <!-- TODO: Insert the Font Awesome gift icon (fa-gift) before this dropwdown button's text. -->
                    <!-- TODO: Make this dropdown do something useful. -->
                    <b-dropdown text="Add to Wish List">
                      <b-dropdown-item>
                        New wish list
                      </b-dropdown-item>
                    </b-dropdown>
                  </b-button-group>
                  <div></div>
                  <template>
                    <b-table
                      :items="product.vitalsTableItems"
                      :fields="product.vitalsTableFields">
                    </b-table>
                  </template>
                  <template>
                    <b-table
                      :items="product.priceTableItems"
                      :fields="product.priceTableFields">
                    </b-table>
                  </template>
                  <div>
                    <p>Last Price Change: {{ product.lastPriceChange }}</p>
                  </div>
                </b-col>
              </b-row>
            </b-container>
          </div>
        </b-col>
        <b-col cols="3">
          <div id="cart">
            <h1>Shopping Cart</h1>
              <div>
                <p>Cart ID: {{ cart.properties.id }}</p>
              </div>
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                      <tr>
                          <th>Product</th>
                          <th>Price</th>
                          <th>Quantity</th>
                      </tr>
                      </thead>
                      <tbody>
                          <!-- TODO: See if I can get this to load and display cart items without generating errors.
                          <tr v-for="item in cartitems.objects">
                              <td style="max-width: 100px;"><a v-if="item.properties.preview_uri" :href="item.properties.shop_uri"><img :src="item.properties.preview_uri" alt="photo" class="img-fluid"></a></td>
                              <td>
                                  <a :href="item.properties.shop_uri"><h4>{{item.properties.name}}</h4></a>
                                  <button class="btn btn-secondary btn-sm" @click="remove_item(item)"><i class="fas fa-trash-alt"></i> Remove</button>
                              </td>
                              <td><h4 class="text-success font-weight-bold">{{item.properties.price_each|currency}}</h4></td>
                              <td><input type="number" min="1" class="form-control" v-model="item.properties.quantity" @change="update_quantity(item)" style="max-width: 100px"></td>
                          </tr>
                          <tr class="d-none d-md-table-row">
                              <td class="text-right" colspan="4">
                                  <h4>Subtotal ({{item_count}} items): <span class="text-success font-weight-bold">{{cart.properties.subtotal|currency}}</span></h4>
                              </td>
                          </tr>
                        -->
                      </tbody>
                  </table>
              </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>

  <!-- TODO: Before distribution, make sure the Vue reference is to the prod version instead of the dev version, for better performance. -->
  <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script><!-- IE 11 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.0.0-rc.2/dist/bootstrap-vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue2-filters@0.3.0/dist/vue2-filters.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
  <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
  <!-- TODO: Do I need the "?v=1" that was appended to this .js filename in the requirements.tt file? What does it mean? -->
  <script src="wing/wing.vue.js?v=1"></script>

  <!-- I found these in cart.tt but it seems I don't need them.
    <script src="tgc6/js/tgc.vue.js?v=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js"></script>
  </script>-->

  <script src="Main.js"></script>

</body>
</html>
