<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- TEMP: Before actual distribution, include these references via webpack rather than reference. -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.0.0-rc.2/dist/bootstrap-vue.min.css">
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.css">
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/themes/bootstrap-v4.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="tgc6/css/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">

  <!-- IDEA: Set the favicon. -->
  <title>BGC Proto 1</title>

</head>
<body>

  <div id="app">
    <b-container>
      <b-row>
        <b-col>
            <h1>{{ product.properties.name }}</h1>
            <b-container>
                <b-img :src="'http:' + product.properties.preview_uri" :alt="'Photo of ' + product.properties.name" fluid />
            </b-container>
            <p>{{ product.properties.description }}</p>
            <!-- Youtube URLs must be in this "/embed/" format - see https://stackoverflow.com/questions/9934944 -->
            <!-- QUESTION: What is with the violations this video is causing? Happens in an HTML5 iframe too.
            <b-embed type="iframe"
                   aspect="16by9"
                   :src="'https://www.youtube.com/embed/' + product.properties.youtube_video_id"
                   allowfullscreen
            ></b-embed>
            -->
        </b-col>
        <b-col>
          <b-button-group>
            <!-- IDEA: Any product like this that can be purchased in bulk
            should probably have controls to select the quantity to
            be ordered, which could in turn affect the subtotal price. -->
            <b-button variant="primary" @click="buyClick">
              <span class="fas fa-cart-plus"></span>
              Buy for {{ "$" + Number(product.properties.price).toFixed(2) }}
            </b-button>
            <!-- QUESTION: How do I insert the Font Awesome gift icon (fa-gift) before this dropwdown button's text property? -->
            <!-- IDEA: Make this dropdown do something useful. -->
            <b-dropdown text="Add to Wish List" :disabled = "true">
              <b-dropdown-item>
                New wish list
              </b-dropdown-item>
            </b-dropdown>
          </b-button-group>
          <div></div>
          <template>
            <b-table
              :items="vitalsTableItems"
              :fields='[
                {key: "key", label: "Vitals"},
                {key: "value1", label: ""},
                {key: "value2", label: ""}
              ]'>
            </b-table>
          </template>
          <template>
            <b-table
              :items="priceTableItems"
              :fields='[
                {key: "range", label: "Bulk Pricing"},
                {key: "ea", label: ""}
              ]'>
            </b-table>
          </template>
          <div>
            <p>Last Price Change: {{ product.properties.last_price_change === undefined ?
              "" : product.properties.last_price_change.split(" ")[0] }}</p>
          </div>
        </b-col>
        <b-col>
          <div id="login">
            <b-form @submit="onLoginSubmit" @reset="onLoginReset" v-if="session.properties.id == null">
              <h1>Log In</h1>
              <b-form-group id="userNameInputGroup" label="User Name:" label-for="userNameInput">
                <b-form-input id="userNameInput" type="text" v-model="username"
                  required placeholder="Enter username">
                </b-form-input>
              </b-form-group>
              <b-form-group id="passwordInputGroup" label="Password:" label-for="passwordInput">
                <b-form-input id="passwordInput" type="password" v-model="password"
                  required placeholder="Enter password">
                </b-form-input>
              </b-form-group>
              <b-button type="submit" variant="primary">Submit</b-button>
              <b-button type="reset" variant="secondary">Reset</b-button>
              <p />
            </b-form>
          </div>
          <div id="sessionData">
            <!-- TEMP: Display this information more appropriately, if at all. -->
            <h1>Session Info</h1>
            <p>Session ID: {{ session.properties.id }}</p>
            <p>User ID: {{ session.properties.user_id }}</p>
            <p>User Name: {{ userName }}</p>
            <p>Cart ID: {{ cart.properties.id }}</p>
            <b-button variant="secondary" @click="logOutClick" v-if="session.properties.id != null">
              Log Out
            </b-button>
            <p />
          </div>
          <div id="cart" v-if="cart.properties.id != null">
            <h1>Shopping Cart</h1>
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                      <tr>
                          <th>Product</th>
                          <th>Price</th>
                          <th>Quantity</th>
                      </tr>
                      </thead>
                      <tbody>
                          <!-- TODO: Display this using a Bootstrap-Vue table. -->
                          <tr v-for="item in cart.properties.items">
                              <td>{{ item.name }}</td>
                              <td>{{ item.price_each }}</td>
                              <td>{{ item.quantity }}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>

  <!-- TEMP: Before distribution, make sure the Vue reference is to the prod version instead of the dev version, for better performance. -->
  <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script><!-- IE 11 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.0.0-rc.2/dist/bootstrap-vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue2-filters@0.3.0/dist/vue2-filters.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
  <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/qs@6.5.2/dist/qs.js"></script>
  <script src="wing/wing.vue.js"></script>
  <script src="Main.js"></script>

</body>
</html>
